@model Survey
@{
    ViewData["Title"] = "Список анкет";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
    string searchTerm = ViewBag.SearchTerm ?? "";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="content" id="content_user" value="@Context.Session.GetInt32("id_user")">
                <div class="note">
            <h2>Список пройденных анкет</h2>
            <p>Ниже вы можете ознакомиться с пройденными вами анкетами</p>
        </div>
        <div class="menu-bar">
            <span id="active_surveys" onclick='open_vkladka("surveys_users")'>Активные анкеты</span>
            <span id="archiv_surveys" onclick='open_vkladka("archiv")'>Архив анкет</span>
        </div>

        <div class="filter-sort" style="display:none">
            <input type="text" placeholder="Поиск..." />
            <button>Фильтровать по месяцу</button>
            <button>Фильтровать по датам</button>
        </div>

        <div class="grid" id="surveyGrid">
            @if (ViewBag.AccessibleSurveys != null && ViewBag.AccessibleSurveys.Count > 0)
            {
                @foreach (var survey in ViewBag.AccessibleSurveys)
                {
                    <div class="card active" onclick="view_answer(@survey.id_survey, @ViewBag.UserOmsuId, 'user')">
                        <h3>@survey.name_survey</h3>
                        <p>@survey.description</p>
                        <p>Месяц: @survey.date_open.ToString("MMMM yyyy")</p>
                        <p>Статус: <span style="color:green">пройдена</span></p>
                        <p>Подписана: @if (survey.csp == "Не подписано" || survey.csp == null || survey.csp == "")
                            {
                                <span style="color: red;">❌</span>
                            }
                            else
                            {
                                <span style="color: green;">✔️</span>
                            }</p>
                        <p>Завершено: @survey.completion_date </p>
                        <br />
                        <hr />
                        <p id="diapazon_dates">@survey.date_open.ToString("dd.MM.yyyy") - @survey.date_close.ToString("dd.MM.yyyy")</p>
                    </div>
                }
            }
            else
            {
                <div class="no-results">
                    <p>Нет пройденных анкет ;(</p>
                </div>
            }
        </div>

<div class="pagination">
            @if (currentPage > 1)
            {
                <a asp-action="survey_list_user" asp-route-id="@ViewBag.UserOmsuId" asp-route-page="@(currentPage - 1)" asp-route-searchTerm="@searchTerm">« Предыдущая</a>
            }
            @if(totalPages == 0){<span id="pageInfo">Страница 1 из 1</span>}
            else{<span id="pageInfo">Страница @currentPage из @totalPages</span>}
            @if (currentPage < totalPages)
            {
               <a asp-action="survey_list_user" asp-route-id="@ViewBag.UserOmsuId" asp-route-page="@(currentPage + 1)" asp-route-searchTerm="@searchTerm">Следующая »</a>
            }
        </div>
    </div>
</body>
</html>