@model MainProject.Web.ViewModels.SurveyAnswerPageViewModel

@{
    ViewData["Title"] = "Проверка ответов";
}

@section PageStyles {
    <link rel="stylesheet" href="~/css/pages/answers.css" asp-append-version="true" />
}

<div class="app-page answers-page__view" id="default_content" data-page="answers-view">
    @await Html.PartialAsync(
        "~/Web/Views/Shared/_PageIntro.cshtml",
        new MainProject.Web.ViewModels.PageIntroModel
        {
            Title = "Просмотр ответов",
            Description = "На этой странице вы можете ознакомиться с ответами на анкету."
        })

    <section class="app-page__section">
        <div class="table-container">
            <table class="answers-table">
                <thead>
                    <tr>
                        <th>Вопрос</th>
                        <th>Ответ</th>
                        <th>Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var answer in Model.Answers)
                    {
                        <tr>
                            <td colspan="3" class="survey-header">
                                <strong>Ответы на анкету: @Model.Survey.NameSurvey</strong>
                                <br />
                                <span class="answers-page__completion-date">Организация: @answer.NameOrganization</span>
                                <br />
                                <span class="answers-page__completion-date">Дата ответа: @answer.CompletionDate?.ToString("dd.MM.yyyy HH:mm:ss")</span>
                            </td>
                        </tr>
                        @foreach (var detail in answer.Details)
                        {
                            <tr>
                                <td>@detail.DisplayQuestion</td>
                                <td>@detail.Rating</td>
                                <td>@detail.Comment</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>
