<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - main_project</title>
    <link rel="stylesheet" href="~/css/pages/admin-archives.css" asp-append-version="true" />
</head>
<body>

<div class="content archive-page" id="default_content">

<p class="back-button archive-back-button" onClick="handleTabClick('get_omsu')">← Вернуться на страницу списка анкет</p>

    <div class="note">
        <h2>Список архивных организаций</h2>
        <p>Ниже представлена таблица с архивными организациями</p>
    </div>


    <table id="data_table">
        <thead>
          <tr class='table_tr'>
              <th style="border-radius: 16px 0 0 0">Название организации</th>
              <th>Дата начала</th>
              <th>Дата окончания</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody id="userTableBody">
@if (ViewBag.Omsus != null)
{
    var omsus = ViewBag.Omsus as IEnumerable<main_project.Models.OMSU>;
    var count = omsus?.Count() ?? 0;

    @if (@count == 0){
    <tr>
        <td colspan="6" style='color:red'>Результаты не найдены!</td>
    </tr>}
    else
    {
        foreach (var omsu in ViewBag.Omsus)
        {
            <tr>
                <td>@omsu.name_omsu</td>
                <td>@(omsu.date_begin?.ToString("dd.MM.yyyy") ?? "")</td>
                <td>@(omsu.date_end?.ToString("dd.MM.yyyy") ?? "")</td>
                <td>@omsu.email</td>
            </tr>
        }
    }
}
      </tbody>
    </table>
</div>

<script src="~/js/pages/admin-archives.js" asp-append-version="true"></script>
</body>
</html>