@model main_project.Services.Answers.UpdateAnswerPageViewModel

@{
    ViewData["Title"] = "Редактирование ответов";
}

@await Html.PartialAsync("~/Views/Shared/_BaseStyles.cshtml")
<link rel="stylesheet" href="~/css/pages/answers.css" asp-append-version="true" />

<div class="container answers-page__update">
    <div class="content default answers-page__update-card" id="@Model.SurveyId">
        <div class="note">
            <h2>Редактирование анкеты</h2>
            <p>На этой странице вы можете отредактировать ответы на анкету.</p>
        </div>
        @if (Model.Answers != null && Model.Answers.Count > 0)
        {
            foreach (var answer in Model.Answers)
            {
                var questionId = answer.QuestionId;
                var questionText = answer.DisplayQuestion;
                var rating = answer.Rating;
                var comment = answer.Comment;

                <div class="question-container" id="quest_@questionId">
                    <h3>@questionText</h3>
                <div class="rating-buttons">
                    <div onclick="check_ocenka('1', '@questionId')" class="btn_crit @(rating == 1 ? "active" : "")" id="btn1">1</div>
                    <div onclick="check_ocenka('2', '@questionId')" class="btn_crit @(rating == 2 ? "active" : "")" id="btn2">2</div>
                    <div onclick="check_ocenka('3', '@questionId')" class="btn_crit @(rating == 3 ? "active" : "")" id="btn3">3</div>
                    <div onclick="check_ocenka('4', '@questionId')" class="btn_crit @(rating == 4 ? "active" : "")" id="btn4">4</div>
                    <div onclick="check_ocenka('5', '@questionId')" class="btn_crit @(rating == 5 ? "active" : "")" id="btn5">5</div>
                </div>
                    <br />
                    @if (rating != 5)
                    {
                        <div class="comment-container">
                            <textarea class="answers-page__update-comment" placeholder="Ваш комментарий..." rows="3">@comment</textarea>
                        </div>
                    }
                    <br />
                </div>
            }
            <div class="submit-container">
                <button class="answers-page__action-button" onClick="update_answer_bd(@Model.OrganizationId)">Сохранить изменения</button>
            </div>
        }
        else
        {
            <p class="answers-page__empty">Нет ответов для отображения.</p>
        }
    </div>
</div>

<div id="error-message" class="answers-page__update-error">
    <span class="answers-page__update-error-icon">!</span>
    <span id="error-text" class="answers-page__update-error-text">@ViewBag.ErrorMessage</span>
    <button id="close-error" onclick="hidden_error()" class="answers-page__update-error-close">×</button>
</div>
