@model main_project.Services.Surveys.SurveyAnswerPageViewModel

@{
    ViewData["Title"] = "Проверка ответов";
}

@await Html.PartialAsync("~/Views/Shared/_BaseStyles.cshtml")
<link rel="stylesheet" href="~/css/pages/answers.css" asp-append-version="true" />

<title>@ViewData["Title"]</title>
<div class="content answers-page__view" id="default_content">
    <div class="note">
        <h2>Просмотр ответов</h2>
        <p>На этой странице вы можете ознакомиться с ответами на анкету.</p>
    </div>

    <div class="table-container">
        <table class="answers-table">
            <thead>
                <tr>
                    <th>Вопрос</th>
                    <th>Ответ</th>
                    <th>Комментарий</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var answer in Model.Answers)
                {
                    <tr>
                        <td colspan="3" class="survey-header">
                            <strong>Ответы на анкету: @Model.Survey.name_survey</strong>
                            <br />
                            <span class="answers-page__completion-date">Организация: @answer.NameOmsu</span>
                            <br />
                            <span class="answers-page__completion-date">Дата ответа: @answer.CompletionDate?.ToString("dd.MM.yyyy HH:mm:ss")</span>
                        </td>
                    </tr>
                    @foreach (var detail in answer.Details)
                    {
                        <tr>
                            <td>@detail.DisplayQuestion</td>
                            <td>@detail.Rating</td>
                            <td>@detail.Comment</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />

    <div id="block_btn_not_csp" class="button-container">
        <br />
        <button class="answers-page__action-button" onClick="window.history.back()">Вернуться к списку анкет</button>
    </div>
</div>
